import * as SC from './{{lowerCase name}}.styles'

const {{pascalCase name}} = () => {
  return (
    <section>
        <h1>{{pascalCase name}}</h1>
    </section>
  )
}

export default {{pascalCase name}}
